CONFIG VCCAUX=3.3;

NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

NET "clk" LOC = P56 | IOSTANDARD = LVTTL;

NET "latch" LOC = P124 | IOSTANDARD = LVTTL;
NET "clock" LOC = P123 | IOSTANDARD = LVTTL;

NET "data<0>" LOC = P127 | IOSTANDARD = LVTTL;
NET "data<1>" LOC = P132 | IOSTANDARD = LVTTL;
NET "data<2>" LOC = P134 | IOSTANDARD = LVTTL;
NET "data<3>" LOC = P138 | IOSTANDARD = LVTTL;
NET "data<4>" LOC = P140 | IOSTANDARD = LVTTL;
NET "data<5>" LOC = P142 | IOSTANDARD = LVTTL;
NET "data<6>" LOC = P144 | IOSTANDARD = LVTTL;
NET "data<7>" LOC = P2 | IOSTANDARD = LVTTL;

NET "test<0>" LOC = P126 | IOSTANDARD = LVTTL;
NET "test<1>" LOC = P126 | IOSTANDARD = LVTTL;
NET "test<2>" LOC = P126 | IOSTANDARD = LVTTL;

NET "serialIn" LOC = P10 | IOSTANDARD = LVTTL;
NET "sClk" LOC = P51 | IOSTANDARD = LVTTL;
