CONFIG VCCAUX  = 3.3;

NET "clk" TNM_NET = "clk";
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50 %;

NET "clk" LOC = P56;
NET "clk" IOSTANDARD = LVTTL;

NET "latch" LOC = P124;
NET "latch" IOSTANDARD = LVTTL;
NET "clock" LOC = P123;
NET "clock" IOSTANDARD = LVTTL;

NET "data[0]" LOC = P127;
NET "data[0]" IOSTANDARD = LVTTL;
NET "data[1]" LOC = P132;
NET "data[1]" IOSTANDARD = LVTTL;
NET "data[2]" LOC = P134;
NET "data[2]" IOSTANDARD = LVTTL;
NET "data[3]" LOC = P138;
NET "data[3]" IOSTANDARD = LVTTL;
NET "data[4]" LOC = P140;
NET "data[4]" IOSTANDARD = LVTTL;
NET "data[5]" LOC = P142;
NET "data[5]" IOSTANDARD = LVTTL;
NET "data[6]" LOC = P144;
NET "data[6]" IOSTANDARD = LVTTL;
NET "data[7]" LOC = P2;
NET "data[7]" IOSTANDARD = LVTTL;

NET "test<0>" LOC = P126 | IOSTANDARD = LVTTL;
NET "test<1>" LOC = P126 | IOSTANDARD = LVTTL;
NET "test<2>" LOC = P126 | IOSTANDARD = LVTTL;

NET "serialIn" LOC = P10;
NET "serialIn" IOSTANDARD = LVTTL;
NET "sClk" LOC = P51;
NET "sClk" IOSTANDARD = LVTTL;

NET "test" LOC = P9 | IOSTANDARD = LVTTL;
