//! **************************************************************************
// Written by: Map P.20131013 on Mon Dec 04 19:01:12 2023
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "sClk" LOCATE = SITE "P51" LEVEL 1;
COMP "data[0]" LOCATE = SITE "P127" LEVEL 1;
COMP "data[1]" LOCATE = SITE "P132" LEVEL 1;
COMP "data[2]" LOCATE = SITE "P134" LEVEL 1;
COMP "data[3]" LOCATE = SITE "P138" LEVEL 1;
COMP "data[4]" LOCATE = SITE "P140" LEVEL 1;
COMP "data[5]" LOCATE = SITE "P142" LEVEL 1;
COMP "data[6]" LOCATE = SITE "P144" LEVEL 1;
COMP "data[7]" LOCATE = SITE "P2" LEVEL 1;
COMP "clock" LOCATE = SITE "P123" LEVEL 1;
COMP "latch" LOCATE = SITE "P124" LEVEL 1;
COMP "serialIn" LOCATE = SITE "P10" LEVEL 1;
TIMEGRP clk = BEL "t/a10/counter_11" BEL "t/a10/counter_10" BEL
        "t/a10/counter_9" BEL "t/a10/counter_8" BEL "t/a10/counter_7" BEL
        "t/a10/counter_6" BEL "t/a10/counter_5" BEL "t/a10/counter_4" BEL
        "t/a10/counter_3" BEL "t/a10/counter_2" BEL "t/a10/counter_1" BEL
        "t/a10/counter_0" BEL "t/a10/tmp1" BEL "t/a10/tmp0" BEL
        "t/a11/counter_11" BEL "t/a11/counter_10" BEL "t/a11/counter_9" BEL
        "t/a11/counter_8" BEL "t/a11/counter_7" BEL "t/a11/counter_6" BEL
        "t/a11/counter_5" BEL "t/a11/counter_4" BEL "t/a11/counter_3" BEL
        "t/a11/counter_2" BEL "t/a11/counter_1" BEL "t/a11/counter_0" BEL
        "t/a11/tmp1" BEL "t/a11/tmp0" BEL "t/a12/counter_11" BEL
        "t/a12/counter_10" BEL "t/a12/counter_9" BEL "t/a12/counter_8" BEL
        "t/a12/counter_7" BEL "t/a12/counter_6" BEL "t/a12/counter_5" BEL
        "t/a12/counter_4" BEL "t/a12/counter_3" BEL "t/a12/counter_2" BEL
        "t/a12/counter_1" BEL "t/a12/counter_0" BEL "t/a12/tmp1" BEL
        "t/a12/tmp0" BEL "t/a13/counter_11" BEL "t/a13/counter_10" BEL
        "t/a13/counter_9" BEL "t/a13/counter_8" BEL "t/a13/counter_7" BEL
        "t/a13/counter_6" BEL "t/a13/counter_5" BEL "t/a13/counter_4" BEL
        "t/a13/counter_3" BEL "t/a13/counter_2" BEL "t/a13/counter_1" BEL
        "t/a13/counter_0" BEL "t/a13/tmp1" BEL "t/a13/tmp0" BEL
        "t/a14/counter_11" BEL "t/a14/counter_10" BEL "t/a14/counter_9" BEL
        "t/a14/counter_8" BEL "t/a14/counter_7" BEL "t/a14/counter_6" BEL
        "t/a14/counter_5" BEL "t/a14/counter_4" BEL "t/a14/counter_3" BEL
        "t/a14/counter_2" BEL "t/a14/counter_1" BEL "t/a14/counter_0" BEL
        "t/a14/tmp1" BEL "t/a14/tmp0" BEL "t/a20/counter_11" BEL
        "t/a20/counter_10" BEL "t/a20/counter_9" BEL "t/a20/counter_8" BEL
        "t/a20/counter_7" BEL "t/a20/counter_6" BEL "t/a20/counter_5" BEL
        "t/a20/counter_4" BEL "t/a20/counter_3" BEL "t/a20/counter_2" BEL
        "t/a20/counter_1" BEL "t/a20/counter_0" BEL "t/a20/tmp1" BEL
        "t/a20/tmp0" BEL "t/a15/counter_11" BEL "t/a15/counter_10" BEL
        "t/a15/counter_9" BEL "t/a15/counter_8" BEL "t/a15/counter_7" BEL
        "t/a15/counter_6" BEL "t/a15/counter_5" BEL "t/a15/counter_4" BEL
        "t/a15/counter_3" BEL "t/a15/counter_2" BEL "t/a15/counter_1" BEL
        "t/a15/counter_0" BEL "t/a15/tmp1" BEL "t/a15/tmp0" BEL
        "t/a21/counter_11" BEL "t/a21/counter_10" BEL "t/a21/counter_9" BEL
        "t/a21/counter_8" BEL "t/a21/counter_7" BEL "t/a21/counter_6" BEL
        "t/a21/counter_5" BEL "t/a21/counter_4" BEL "t/a21/counter_3" BEL
        "t/a21/counter_2" BEL "t/a21/counter_1" BEL "t/a21/counter_0" BEL
        "t/a21/tmp1" BEL "t/a21/tmp0" BEL "t/a16/counter_11" BEL
        "t/a16/counter_10" BEL "t/a16/counter_9" BEL "t/a16/counter_8" BEL
        "t/a16/counter_7" BEL "t/a16/counter_6" BEL "t/a16/counter_5" BEL
        "t/a16/counter_4" BEL "t/a16/counter_3" BEL "t/a16/counter_2" BEL
        "t/a16/counter_1" BEL "t/a16/counter_0" BEL "t/a16/tmp1" BEL
        "t/a16/tmp0" BEL "t/a22/counter_11" BEL "t/a22/counter_10" BEL
        "t/a22/counter_9" BEL "t/a22/counter_8" BEL "t/a22/counter_7" BEL
        "t/a22/counter_6" BEL "t/a22/counter_5" BEL "t/a22/counter_4" BEL
        "t/a22/counter_3" BEL "t/a22/counter_2" BEL "t/a22/counter_1" BEL
        "t/a22/counter_0" BEL "t/a22/tmp1" BEL "t/a22/tmp0" BEL
        "t/a17/counter_11" BEL "t/a17/counter_10" BEL "t/a17/counter_9" BEL
        "t/a17/counter_8" BEL "t/a17/counter_7" BEL "t/a17/counter_6" BEL
        "t/a17/counter_5" BEL "t/a17/counter_4" BEL "t/a17/counter_3" BEL
        "t/a17/counter_2" BEL "t/a17/counter_1" BEL "t/a17/counter_0" BEL
        "t/a17/tmp1" BEL "t/a17/tmp0" BEL "t/a23/counter_11" BEL
        "t/a23/counter_10" BEL "t/a23/counter_9" BEL "t/a23/counter_8" BEL
        "t/a23/counter_7" BEL "t/a23/counter_6" BEL "t/a23/counter_5" BEL
        "t/a23/counter_4" BEL "t/a23/counter_3" BEL "t/a23/counter_2" BEL
        "t/a23/counter_1" BEL "t/a23/counter_0" BEL "t/a23/tmp1" BEL
        "t/a23/tmp0" BEL "t/b/counter_5" BEL "t/b/counter_4" BEL
        "t/b/counter_3" BEL "t/b/counter_2" BEL "t/b/counter_1" BEL
        "t/b/counter_0" BEL "t/b/oData_7" BEL "t/b/oData_6" BEL "t/b/oData_5"
        BEL "t/b/oData_4" BEL "t/b/oData_3" BEL "t/b/oData_2" BEL
        "t/b/oData_1" BEL "t/b/oData_0" BEL "t/b/oClock" BEL "t/b/oLatch" BEL
        "t/a18/counter_11" BEL "t/a18/counter_10" BEL "t/a18/counter_9" BEL
        "t/a18/counter_8" BEL "t/a18/counter_7" BEL "t/a18/counter_6" BEL
        "t/a18/counter_5" BEL "t/a18/counter_4" BEL "t/a18/counter_3" BEL
        "t/a18/counter_2" BEL "t/a18/counter_1" BEL "t/a18/counter_0" BEL
        "t/a18/tmp1" BEL "t/a18/tmp0" BEL "t/a24/counter_11" BEL
        "t/a24/counter_10" BEL "t/a24/counter_9" BEL "t/a24/counter_8" BEL
        "t/a24/counter_7" BEL "t/a24/counter_6" BEL "t/a24/counter_5" BEL
        "t/a24/counter_4" BEL "t/a24/counter_3" BEL "t/a24/counter_2" BEL
        "t/a24/counter_1" BEL "t/a24/counter_0" BEL "t/a24/tmp1" BEL
        "t/a24/tmp0" BEL "t/a19/counter_11" BEL "t/a19/counter_10" BEL
        "t/a19/counter_9" BEL "t/a19/counter_8" BEL "t/a19/counter_7" BEL
        "t/a19/counter_6" BEL "t/a19/counter_5" BEL "t/a19/counter_4" BEL
        "t/a19/counter_3" BEL "t/a19/counter_2" BEL "t/a19/counter_1" BEL
        "t/a19/counter_0" BEL "t/a19/tmp1" BEL "t/a19/tmp0" BEL
        "t/a30/counter_11" BEL "t/a30/counter_10" BEL "t/a30/counter_9" BEL
        "t/a30/counter_8" BEL "t/a30/counter_7" BEL "t/a30/counter_6" BEL
        "t/a30/counter_5" BEL "t/a30/counter_4" BEL "t/a30/counter_3" BEL
        "t/a30/counter_2" BEL "t/a30/counter_1" BEL "t/a30/counter_0" BEL
        "t/a30/tmp1" BEL "t/a30/tmp0" BEL "t/a25/counter_11" BEL
        "t/a25/counter_10" BEL "t/a25/counter_9" BEL "t/a25/counter_8" BEL
        "t/a25/counter_7" BEL "t/a25/counter_6" BEL "t/a25/counter_5" BEL
        "t/a25/counter_4" BEL "t/a25/counter_3" BEL "t/a25/counter_2" BEL
        "t/a25/counter_1" BEL "t/a25/counter_0" BEL "t/a25/tmp1" BEL
        "t/a25/tmp0" BEL "t/a31/counter_11" BEL "t/a31/counter_10" BEL
        "t/a31/counter_9" BEL "t/a31/counter_8" BEL "t/a31/counter_7" BEL
        "t/a31/counter_6" BEL "t/a31/counter_5" BEL "t/a31/counter_4" BEL
        "t/a31/counter_3" BEL "t/a31/counter_2" BEL "t/a31/counter_1" BEL
        "t/a31/counter_0" BEL "t/a31/tmp1" BEL "t/a31/tmp0" BEL
        "t/a26/counter_11" BEL "t/a26/counter_10" BEL "t/a26/counter_9" BEL
        "t/a26/counter_8" BEL "t/a26/counter_7" BEL "t/a26/counter_6" BEL
        "t/a26/counter_5" BEL "t/a26/counter_4" BEL "t/a26/counter_3" BEL
        "t/a26/counter_2" BEL "t/a26/counter_1" BEL "t/a26/counter_0" BEL
        "t/a26/tmp1" BEL "t/a26/tmp0" BEL "t/a32/counter_11" BEL
        "t/a32/counter_10" BEL "t/a32/counter_9" BEL "t/a32/counter_8" BEL
        "t/a32/counter_7" BEL "t/a32/counter_6" BEL "t/a32/counter_5" BEL
        "t/a32/counter_4" BEL "t/a32/counter_3" BEL "t/a32/counter_2" BEL
        "t/a32/counter_1" BEL "t/a32/counter_0" BEL "t/a32/tmp1" BEL
        "t/a32/tmp0" BEL "t/a7/counter_11" BEL "t/a7/counter_10" BEL
        "t/a7/counter_9" BEL "t/a7/counter_8" BEL "t/a7/counter_7" BEL
        "t/a7/counter_6" BEL "t/a7/counter_5" BEL "t/a7/counter_4" BEL
        "t/a7/counter_3" BEL "t/a7/counter_2" BEL "t/a7/counter_1" BEL
        "t/a7/counter_0" BEL "t/a7/tmp1" BEL "t/a7/tmp0" BEL
        "t/a27/counter_11" BEL "t/a27/counter_10" BEL "t/a27/counter_9" BEL
        "t/a27/counter_8" BEL "t/a27/counter_7" BEL "t/a27/counter_6" BEL
        "t/a27/counter_5" BEL "t/a27/counter_4" BEL "t/a27/counter_3" BEL
        "t/a27/counter_2" BEL "t/a27/counter_1" BEL "t/a27/counter_0" BEL
        "t/a27/tmp1" BEL "t/a27/tmp0" BEL "t/a33/counter_11" BEL
        "t/a33/counter_10" BEL "t/a33/counter_9" BEL "t/a33/counter_8" BEL
        "t/a33/counter_7" BEL "t/a33/counter_6" BEL "t/a33/counter_5" BEL
        "t/a33/counter_4" BEL "t/a33/counter_3" BEL "t/a33/counter_2" BEL
        "t/a33/counter_1" BEL "t/a33/counter_0" BEL "t/a33/tmp1" BEL
        "t/a33/tmp0" BEL "t/a8/counter_11" BEL "t/a8/counter_10" BEL
        "t/a8/counter_9" BEL "t/a8/counter_8" BEL "t/a8/counter_7" BEL
        "t/a8/counter_6" BEL "t/a8/counter_5" BEL "t/a8/counter_4" BEL
        "t/a8/counter_3" BEL "t/a8/counter_2" BEL "t/a8/counter_1" BEL
        "t/a8/counter_0" BEL "t/a8/tmp1" BEL "t/a8/tmp0" BEL
        "t/a28/counter_11" BEL "t/a28/counter_10" BEL "t/a28/counter_9" BEL
        "t/a28/counter_8" BEL "t/a28/counter_7" BEL "t/a28/counter_6" BEL
        "t/a28/counter_5" BEL "t/a28/counter_4" BEL "t/a28/counter_3" BEL
        "t/a28/counter_2" BEL "t/a28/counter_1" BEL "t/a28/counter_0" BEL
        "t/a28/tmp1" BEL "t/a28/tmp0" BEL "t/a34/counter_11" BEL
        "t/a34/counter_10" BEL "t/a34/counter_9" BEL "t/a34/counter_8" BEL
        "t/a34/counter_7" BEL "t/a34/counter_6" BEL "t/a34/counter_5" BEL
        "t/a34/counter_4" BEL "t/a34/counter_3" BEL "t/a34/counter_2" BEL
        "t/a34/counter_1" BEL "t/a34/counter_0" BEL "t/a34/tmp1" BEL
        "t/a34/tmp0" BEL "t/a9/counter_11" BEL "t/a9/counter_10" BEL
        "t/a9/counter_9" BEL "t/a9/counter_8" BEL "t/a9/counter_7" BEL
        "t/a9/counter_6" BEL "t/a9/counter_5" BEL "t/a9/counter_4" BEL
        "t/a9/counter_3" BEL "t/a9/counter_2" BEL "t/a9/counter_1" BEL
        "t/a9/counter_0" BEL "t/a9/tmp1" BEL "t/a9/tmp0" BEL
        "t/a29/counter_11" BEL "t/a29/counter_10" BEL "t/a29/counter_9" BEL
        "t/a29/counter_8" BEL "t/a29/counter_7" BEL "t/a29/counter_6" BEL
        "t/a29/counter_5" BEL "t/a29/counter_4" BEL "t/a29/counter_3" BEL
        "t/a29/counter_2" BEL "t/a29/counter_1" BEL "t/a29/counter_0" BEL
        "t/a29/tmp1" BEL "t/a29/tmp0" BEL "t/a40/counter_11" BEL
        "t/a40/counter_10" BEL "t/a40/counter_9" BEL "t/a40/counter_8" BEL
        "t/a40/counter_7" BEL "t/a40/counter_6" BEL "t/a40/counter_5" BEL
        "t/a40/counter_4" BEL "t/a40/counter_3" BEL "t/a40/counter_2" BEL
        "t/a40/counter_1" BEL "t/a40/counter_0" BEL "t/a40/tmp1" BEL
        "t/a40/tmp0" BEL "t/a35/counter_11" BEL "t/a35/counter_10" BEL
        "t/a35/counter_9" BEL "t/a35/counter_8" BEL "t/a35/counter_7" BEL
        "t/a35/counter_6" BEL "t/a35/counter_5" BEL "t/a35/counter_4" BEL
        "t/a35/counter_3" BEL "t/a35/counter_2" BEL "t/a35/counter_1" BEL
        "t/a35/counter_0" BEL "t/a35/tmp1" BEL "t/a35/tmp0" BEL
        "t/a41/counter_11" BEL "t/a41/counter_10" BEL "t/a41/counter_9" BEL
        "t/a41/counter_8" BEL "t/a41/counter_7" BEL "t/a41/counter_6" BEL
        "t/a41/counter_5" BEL "t/a41/counter_4" BEL "t/a41/counter_3" BEL
        "t/a41/counter_2" BEL "t/a41/counter_1" BEL "t/a41/counter_0" BEL
        "t/a41/tmp1" BEL "t/a41/tmp0" BEL "t/a36/counter_11" BEL
        "t/a36/counter_10" BEL "t/a36/counter_9" BEL "t/a36/counter_8" BEL
        "t/a36/counter_7" BEL "t/a36/counter_6" BEL "t/a36/counter_5" BEL
        "t/a36/counter_4" BEL "t/a36/counter_3" BEL "t/a36/counter_2" BEL
        "t/a36/counter_1" BEL "t/a36/counter_0" BEL "t/a36/tmp1" BEL
        "t/a36/tmp0" BEL "t/a42/counter_11" BEL "t/a42/counter_10" BEL
        "t/a42/counter_9" BEL "t/a42/counter_8" BEL "t/a42/counter_7" BEL
        "t/a42/counter_6" BEL "t/a42/counter_5" BEL "t/a42/counter_4" BEL
        "t/a42/counter_3" BEL "t/a42/counter_2" BEL "t/a42/counter_1" BEL
        "t/a42/counter_0" BEL "t/a42/tmp1" BEL "t/a42/tmp0" BEL
        "t/a37/counter_11" BEL "t/a37/counter_10" BEL "t/a37/counter_9" BEL
        "t/a37/counter_8" BEL "t/a37/counter_7" BEL "t/a37/counter_6" BEL
        "t/a37/counter_5" BEL "t/a37/counter_4" BEL "t/a37/counter_3" BEL
        "t/a37/counter_2" BEL "t/a37/counter_1" BEL "t/a37/counter_0" BEL
        "t/a37/tmp1" BEL "t/a37/tmp0" BEL "t/a43/counter_11" BEL
        "t/a43/counter_10" BEL "t/a43/counter_9" BEL "t/a43/counter_8" BEL
        "t/a43/counter_7" BEL "t/a43/counter_6" BEL "t/a43/counter_5" BEL
        "t/a43/counter_4" BEL "t/a43/counter_3" BEL "t/a43/counter_2" BEL
        "t/a43/counter_1" BEL "t/a43/counter_0" BEL "t/a43/tmp1" BEL
        "t/a43/tmp0" BEL "t/a38/counter_11" BEL "t/a38/counter_10" BEL
        "t/a38/counter_9" BEL "t/a38/counter_8" BEL "t/a38/counter_7" BEL
        "t/a38/counter_6" BEL "t/a38/counter_5" BEL "t/a38/counter_4" BEL
        "t/a38/counter_3" BEL "t/a38/counter_2" BEL "t/a38/counter_1" BEL
        "t/a38/counter_0" BEL "t/a38/tmp1" BEL "t/a38/tmp0" BEL
        "t/a44/counter_11" BEL "t/a44/counter_10" BEL "t/a44/counter_9" BEL
        "t/a44/counter_8" BEL "t/a44/counter_7" BEL "t/a44/counter_6" BEL
        "t/a44/counter_5" BEL "t/a44/counter_4" BEL "t/a44/counter_3" BEL
        "t/a44/counter_2" BEL "t/a44/counter_1" BEL "t/a44/counter_0" BEL
        "t/a44/tmp1" BEL "t/a44/tmp0" BEL "t/a39/counter_11" BEL
        "t/a39/counter_10" BEL "t/a39/counter_9" BEL "t/a39/counter_8" BEL
        "t/a39/counter_7" BEL "t/a39/counter_6" BEL "t/a39/counter_5" BEL
        "t/a39/counter_4" BEL "t/a39/counter_3" BEL "t/a39/counter_2" BEL
        "t/a39/counter_1" BEL "t/a39/counter_0" BEL "t/a39/tmp1" BEL
        "t/a39/tmp0" BEL "t/a50/counter_11" BEL "t/a50/counter_10" BEL
        "t/a50/counter_9" BEL "t/a50/counter_8" BEL "t/a50/counter_7" BEL
        "t/a50/counter_6" BEL "t/a50/counter_5" BEL "t/a50/counter_4" BEL
        "t/a50/counter_3" BEL "t/a50/counter_2" BEL "t/a50/counter_1" BEL
        "t/a50/counter_0" BEL "t/a50/tmp1" BEL "t/a50/tmp0" BEL
        "t/a45/counter_11" BEL "t/a45/counter_10" BEL "t/a45/counter_9" BEL
        "t/a45/counter_8" BEL "t/a45/counter_7" BEL "t/a45/counter_6" BEL
        "t/a45/counter_5" BEL "t/a45/counter_4" BEL "t/a45/counter_3" BEL
        "t/a45/counter_2" BEL "t/a45/counter_1" BEL "t/a45/counter_0" BEL
        "t/a45/tmp1" BEL "t/a45/tmp0" BEL "t/a51/counter_11" BEL
        "t/a51/counter_10" BEL "t/a51/counter_9" BEL "t/a51/counter_8" BEL
        "t/a51/counter_7" BEL "t/a51/counter_6" BEL "t/a51/counter_5" BEL
        "t/a51/counter_4" BEL "t/a51/counter_3" BEL "t/a51/counter_2" BEL
        "t/a51/counter_1" BEL "t/a51/counter_0" BEL "t/a51/tmp1" BEL
        "t/a51/tmp0" BEL "t/o/data38_0" BEL "t/o/data43_0" BEL "t/o/data38_1"
        BEL "t/o/data43_1" BEL "t/o/data38_2" BEL "t/o/data43_2" BEL
        "t/o/data38_3" BEL "t/o/data43_3" BEL "t/o/data38_4" BEL
        "t/o/data43_4" BEL "t/o/data38_5" BEL "t/o/data43_5" BEL
        "t/o/data43_6" BEL "t/o/data38_6" BEL "t/o/data38_7" BEL
        "t/o/data43_7" BEL "t/o/data38_8" BEL "t/o/data4_0" BEL "t/o/data43_8"
        BEL "t/o/data38_9" BEL "t/o/data4_1" BEL "t/o/data43_9" BEL
        "t/o/data4_2" BEL "t/o/data4_3" BEL "t/o/data4_4" BEL "t/o/data4_5"
        BEL "t/o/data4_6" BEL "t/o/data4_7" BEL "t/o/data4_8" BEL
        "t/o/data4_9" BEL "t/o/data39_0" BEL "t/o/data44_0" BEL "t/o/data39_1"
        BEL "t/o/data44_1" BEL "t/o/data39_2" BEL "t/o/data44_2" BEL
        "t/o/data39_3" BEL "t/o/data44_3" BEL "t/o/data39_4" BEL
        "t/o/data44_4" BEL "t/o/data39_5" BEL "t/o/data44_5" BEL
        "t/o/data39_6" BEL "t/o/data44_6" BEL "t/o/data39_7" BEL
        "t/o/data44_7" BEL "t/o/data39_8" BEL "t/o/data5_0" BEL "t/o/data44_8"
        BEL "t/o/data44_9" BEL "t/o/data5_1" BEL "t/o/data39_9" BEL
        "t/o/data5_2" BEL "t/o/data5_3" BEL "t/o/data5_4" BEL "t/o/data5_5"
        BEL "t/o/data5_6" BEL "t/o/data5_7" BEL "t/o/data5_8" BEL
        "t/o/data49_10" BEL "t/o/data5_9" BEL "t/o/data54_10" BEL
        "t/o/data45_0" BEL "t/o/data50_0" BEL "t/o/data45_1" BEL
        "t/o/data50_1" BEL "t/o/data45_2" BEL "t/o/data50_2" BEL
        "t/o/data45_3" BEL "t/o/data50_3" BEL "t/o/data45_4" BEL
        "t/o/data50_4" BEL "t/o/data45_5" BEL "t/o/data50_5" BEL
        "t/o/data45_6" BEL "t/o/data50_6" BEL "t/o/data45_7" BEL
        "t/o/data50_7" BEL "t/o/data45_8" BEL "t/o/data6_0" BEL "t/o/data50_8"
        BEL "t/o/data45_9" BEL "t/o/data6_1" BEL "t/o/data50_9" BEL
        "t/o/data6_2" BEL "t/o/data38_10" BEL "t/o/data6_3" BEL
        "t/o/data43_10" BEL "t/o/data6_4" BEL "t/o/data6_5" BEL "t/o/data6_6"
        BEL "t/o/data6_7" BEL "t/o/data6_8" BEL "t/o/data6_9" BEL
        "t/o/data46_0" BEL "t/o/data51_0" BEL "t/o/data46_1" BEL
        "t/o/data51_1" BEL "t/o/data46_2" BEL "t/o/data51_2" BEL
        "t/o/data46_3" BEL "t/o/data51_3" BEL "t/o/data46_4" BEL
        "t/o/data51_4" BEL "t/o/data46_5" BEL "t/o/data27_10" BEL
        "t/o/data51_5" BEL "t/o/data32_10" BEL "t/o/data46_6" BEL
        "t/o/data51_6" BEL "t/o/data46_7" BEL "t/o/data51_7" BEL
        "t/o/data46_8" BEL "t/o/data7_0" BEL "t/o/data51_8" BEL "t/o/data46_9"
        BEL "t/o/data7_1" BEL "t/o/data51_9" BEL "t/o/data7_2" BEL
        "t/o/data7_3" BEL "t/o/data7_4" BEL "t/o/data7_5" BEL "t/o/data7_6"
        BEL "t/o/data7_7" BEL "t/o/data7_8" BEL "t/o/data7_9" BEL
        "t/o/data21_10" BEL "t/o/data16_10" BEL "t/o/data47_0" BEL
        "t/o/data52_0" BEL "t/o/data47_1" BEL "t/o/data4_10" BEL
        "t/o/data52_1" BEL "t/o/data47_2" BEL "t/o/data52_2" BEL
        "t/o/data47_3" BEL "t/o/data52_3" BEL "t/o/data47_4" BEL
        "t/o/data52_4" BEL "t/o/data47_5" BEL "t/o/data52_5" BEL
        "t/o/data52_6" BEL "t/o/data47_6" BEL "t/o/data47_7" BEL
        "t/o/data52_7" BEL "t/o/data47_8" BEL "t/o/data8_0" BEL "t/o/data52_8"
        BEL "t/o/data47_9" BEL "t/o/data8_1" BEL "t/o/data52_9" BEL
        "t/o/data8_2" BEL "t/o/data8_3" BEL "t/o/data8_4" BEL "t/o/data8_5"
        BEL "t/o/data8_6" BEL "t/o/data8_7" BEL "t/o/data8_8" BEL
        "t/o/data8_9" BEL "t/o/data10_10" BEL "t/o/data48_0" BEL
        "t/o/data53_0" BEL "t/o/data48_1" BEL "t/o/data53_1" BEL
        "t/o/data48_2" BEL "t/o/data53_2" BEL "t/o/data48_3" BEL
        "t/o/data53_3" BEL "t/o/data48_4" BEL "t/o/data53_4" BEL
        "t/o/data48_5" BEL "t/o/data53_5" BEL "t/o/data53_6" BEL
        "t/o/data48_6" BEL "t/o/data48_7" BEL "t/o/data53_7" BEL
        "t/o/data48_8" BEL "t/o/data9_0" BEL "t/o/data53_8" BEL "t/o/data48_9"
        BEL "t/o/data9_1" BEL "t/o/data53_9" BEL "t/o/data9_2" BEL
        "t/o/data9_3" BEL "t/o/data9_4" BEL "t/o/data9_5" BEL "t/o/data9_6"
        BEL "t/o/data9_7" BEL "t/o/data9_8" BEL "t/o/data9_9" BEL
        "t/o/data49_0" BEL "t/o/data54_0" BEL "t/o/data49_1" BEL
        "t/o/data54_1" BEL "t/o/data49_2" BEL "t/o/data54_2" BEL
        "t/o/data49_3" BEL "t/o/data54_3" BEL "t/o/data49_4" BEL
        "t/o/data54_4" BEL "t/o/data49_5" BEL "t/o/data54_5" BEL
        "t/o/data49_6" BEL "t/o/data54_6" BEL "t/o/data49_7" BEL
        "t/o/data54_7" BEL "t/o/data49_8" BEL "t/o/data54_8" BEL
        "t/o/data49_9" BEL "t/o/data54_9" BEL "t/o/data55_10" BEL
        "t/o/data60_10" BEL "t/o/data55_0" BEL "t/o/data60_0" BEL
        "t/o/data55_1" BEL "t/o/data60_1" BEL "t/o/data55_2" BEL
        "t/o/data60_2" BEL "t/o/data55_3" BEL "t/o/data60_3" BEL
        "t/o/data55_4" BEL "t/o/data60_4" BEL "t/o/data55_5" BEL
        "t/o/data60_5" BEL "t/o/data55_6" BEL "t/o/data60_6" BEL
        "t/o/data55_7" BEL "t/o/data60_7" BEL "t/o/data55_8" BEL
        "t/o/data60_8" BEL "t/o/data55_9" BEL "t/o/data60_9" BEL
        "t/o/data39_10" BEL "t/o/data44_10" BEL "t/o/data56_0" BEL
        "t/o/data61_0" BEL "t/o/data56_1" BEL "t/o/data61_1" BEL
        "t/o/data56_2" BEL "t/o/data61_2" BEL "t/o/data56_3" BEL
        "t/o/data61_3" BEL "t/o/data56_4" BEL "t/o/data61_4" BEL
        "t/o/data56_5" BEL "t/o/data28_10" BEL "t/o/data61_5" BEL
        "t/o/data33_10" BEL "t/o/data56_6" BEL "t/o/data61_6" BEL
        "t/o/data56_7" BEL "t/o/data61_7" BEL "t/o/data56_8" BEL
        "t/o/data61_8" BEL "t/o/data56_9" BEL "t/o/data61_9" BEL
        "t/o/data22_10" BEL "t/o/data17_10" BEL "t/o/data57_0" BEL
        "t/o/data62_0" BEL "t/o/data57_1" BEL "t/o/data5_10" BEL
        "t/o/data62_1" BEL "t/o/data57_2" BEL "t/o/data62_2" BEL
        "t/o/data57_3" BEL "t/o/data62_3" BEL "t/o/data57_4" BEL
        "t/o/data62_4" BEL "t/o/data57_5" BEL "t/o/data62_5" BEL
        "t/o/data57_6" BEL "t/o/data62_6" BEL "t/o/data57_7" BEL
        "t/o/data62_7" BEL "t/o/data57_8" BEL "t/o/data62_8" BEL
        "t/o/data57_9" BEL "t/o/data62_9" BEL "t/o/data11_10" BEL
        "t/o/data63_0" BEL "t/o/data58_0" BEL "t/o/data63_1" BEL
        "t/o/data58_1" BEL "t/o/data63_2" BEL "t/o/data58_2" BEL
        "t/o/data63_3" BEL "t/o/data58_3" BEL "t/o/data63_4" BEL
        "t/o/data58_4" BEL "t/o/data58_5" BEL "t/o/data63_5" BEL
        "t/o/data63_6" BEL "t/o/data58_6" BEL "t/o/data58_7" BEL
        "t/o/data63_7" BEL "t/o/data58_8" BEL "t/o/data63_8" BEL
        "t/o/data58_9" BEL "t/o/data63_9" BEL "t/o/data59_0" BEL
        "t/o/data64_0" BEL "t/o/data59_1" BEL "t/o/data64_1" BEL
        "t/o/data59_2" BEL "t/o/data64_2" BEL "t/o/data59_3" BEL
        "t/o/data64_3" BEL "t/o/data59_4" BEL "t/o/data64_4" BEL
        "t/o/data59_5" BEL "t/o/data64_5" BEL "t/o/data59_6" BEL
        "t/o/data64_6" BEL "t/o/data59_7" BEL "t/o/data64_7" BEL
        "t/o/data59_8" BEL "t/o/data64_8" BEL "t/o/data59_9" BEL
        "t/o/data64_9" BEL "t/o/data56_10" BEL "t/o/data61_10" BEL
        "t/o/data45_10" BEL "t/o/data50_10" BEL "t/o/data10_0" BEL
        "t/o/data10_1" BEL "t/o/data10_2" BEL "t/o/data10_3" BEL
        "t/o/data10_4" BEL "t/o/data10_5" BEL "t/o/data10_6" BEL
        "t/o/data10_7" BEL "t/o/data10_8" BEL "t/o/data10_9" BEL
        "t/o/data34_10" BEL "t/o/data29_10" BEL "t/o/data11_0" BEL
        "t/o/data11_1" BEL "t/o/data11_2" BEL "t/o/data11_3" BEL
        "t/o/data11_4" BEL "t/o/data23_10" BEL "t/o/data11_5" BEL
        "t/o/data18_10" BEL "t/o/data11_6" BEL "t/o/data11_7" BEL
        "t/o/data6_10" BEL "t/o/data11_8" BEL "t/o/data11_9" BEL
        "t/o/data12_10" BEL "t/o/data12_0" BEL "t/o/data12_1" BEL
        "t/o/data12_2" BEL "t/o/data12_3" BEL "t/o/data12_4" BEL
        "t/o/data12_5" BEL "t/o/data12_6" BEL "t/o/data12_7" BEL
        "t/o/data12_8" BEL "t/o/data12_9" BEL "t/o/data13_0" BEL
        "t/o/data13_1" BEL "t/o/data13_2" BEL "t/o/data13_3" BEL
        "t/o/data13_4" BEL "t/o/data13_5" BEL "t/o/data13_6" BEL
        "t/o/data13_7" BEL "t/o/data13_8" BEL "t/o/data13_9" BEL
        "t/o/data57_10" BEL "t/o/data62_10" BEL "t/o/data14_0" BEL
        "t/o/data14_1" BEL "t/o/data14_2" BEL "t/o/data14_3" BEL
        "t/o/data14_4" BEL "t/o/data14_5" BEL "t/o/data14_6" BEL
        "t/o/data14_7" BEL "t/o/data14_8" BEL "t/o/data14_9" BEL
        "t/o/data46_10" BEL "t/o/data51_10" BEL "t/o/data20_0" BEL
        "t/o/data15_0" BEL "t/o/data20_1" BEL "t/o/data15_1" BEL
        "t/o/data20_2" BEL "t/o/data15_2" BEL "t/o/data20_3" BEL
        "t/o/data15_3" BEL "t/o/data20_4" BEL "t/o/data15_4" BEL
        "t/o/data20_5" BEL "t/o/data15_5" BEL "t/o/data20_6" BEL
        "t/o/data15_6" BEL "t/o/data20_7" BEL "t/o/data15_7" BEL
        "t/o/data20_8" BEL "t/o/data15_8" BEL "t/o/data20_9" BEL
        "t/o/data15_9" BEL "t/o/data35_10" BEL "t/o/data40_10" BEL
        "t/o/data21_0" BEL "t/o/data16_0" BEL "t/o/data21_1" BEL
        "t/o/data16_1" BEL "t/o/data21_2" BEL "t/o/data16_2" BEL
        "t/o/data21_3" BEL "t/o/data16_3" BEL "t/o/data21_4" BEL
        "t/o/data16_4" BEL "t/o/data24_10" BEL "t/o/data16_5" BEL
        "t/o/data19_10" BEL "t/o/data21_5" BEL "t/o/data21_6" BEL
        "t/o/data16_6" BEL "t/o/data21_7" BEL "t/o/data7_10" BEL
        "t/o/data16_7" BEL "t/o/data21_8" BEL "t/o/data16_8" BEL
        "t/o/data21_9" BEL "t/o/data16_9" BEL "t/o/data13_10" BEL
        "t/o/data22_0" BEL "t/o/data17_0" BEL "t/o/data1_10" BEL
        "t/o/data17_1" BEL "t/o/data22_1" BEL "t/o/data22_2" BEL
        "t/o/data17_2" BEL "t/o/data22_3" BEL "t/o/data17_3" BEL
        "t/o/data22_4" BEL "t/o/data17_4" BEL "t/o/data22_5" BEL
        "t/o/data17_5" BEL "t/o/data22_6" BEL "t/o/data17_6" BEL
        "t/o/data22_7" BEL "t/o/data17_7" BEL "t/o/data22_8" BEL
        "t/o/data17_8" BEL "t/o/data22_9" BEL "t/o/data17_9" BEL
        "t/o/data23_0" BEL "t/o/data18_0" BEL "t/o/data23_1" BEL
        "t/o/data18_1" BEL "t/o/data23_2" BEL "t/o/data18_2" BEL
        "t/o/data23_3" BEL "t/o/data18_3" BEL "t/o/data23_4" BEL
        "t/o/data18_4" BEL "t/o/data23_5" BEL "t/o/data18_5" BEL
        "t/o/data23_6" BEL "t/o/data18_6" BEL "t/o/data23_7" BEL
        "t/o/data18_7" BEL "t/o/data23_8" BEL "t/o/data18_8" BEL
        "t/o/data23_9" BEL "t/o/data18_9" BEL "t/o/data58_10" BEL
        "t/o/data63_10" BEL "t/o/data24_0" BEL "t/o/data19_0" BEL
        "t/o/data24_1" BEL "t/o/data19_1" BEL "t/o/data24_2" BEL
        "t/o/data19_2" BEL "t/o/data24_3" BEL "t/o/data19_3" BEL
        "t/o/data24_4" BEL "t/o/data19_4" BEL "t/o/data24_5" BEL
        "t/o/data19_5" BEL "t/o/data24_6" BEL "t/o/data19_6" BEL
        "t/o/data24_7" BEL "t/o/data19_7" BEL "t/o/data24_8" BEL
        "t/o/data19_8" BEL "t/o/data24_9" BEL "t/o/data19_9" BEL
        "t/o/data52_10" BEL "t/o/data47_10" BEL "t/o/data30_0" BEL
        "t/o/data25_0" BEL "t/o/data30_1" BEL "t/o/data25_1" BEL
        "t/o/data30_2" BEL "t/o/data25_2" BEL "t/o/data30_3" BEL
        "t/o/data25_3" BEL "t/o/data30_4" BEL "t/o/data25_4" BEL
        "t/o/data30_5" BEL "t/o/data25_5" BEL "t/o/data30_6" BEL
        "t/o/data25_6" BEL "t/o/data30_7" BEL "t/o/data25_7" BEL
        "t/o/data30_8" BEL "t/o/data25_8" BEL "t/o/data30_9" BEL
        "t/o/data25_9" BEL "t/o/data36_10" BEL "t/o/data41_10" BEL
        "t/o/data31_0" BEL "t/o/data26_0" BEL "t/o/data31_1" BEL
        "t/o/data26_1" BEL "t/o/data31_2" BEL "t/o/data26_2" BEL
        "t/o/data31_3" BEL "t/o/data26_3" BEL "t/o/data31_4" BEL
        "t/o/data26_4" BEL "t/o/data31_5" BEL "t/o/data25_10" BEL
        "t/o/data26_5" BEL "t/o/data30_10" BEL "t/o/data31_6" BEL
        "t/o/data26_6" BEL "t/o/data31_7" BEL "t/o/data8_10" BEL
        "t/o/data26_7" BEL "t/o/data31_8" BEL "t/o/data26_8" BEL
        "t/o/data31_9" BEL "t/o/data26_9" BEL "t/o/data14_10" BEL
        "t/o/data32_0" BEL "t/o/data27_0" BEL "t/o/data32_1" BEL
        "t/o/data2_10" BEL "t/o/data27_1" BEL "t/o/data32_2" BEL
        "t/o/data27_2" BEL "t/o/data32_3" BEL "t/o/data27_3" BEL
        "t/o/data32_4" BEL "t/o/data27_4" BEL "t/o/data32_5" BEL
        "t/o/data27_5" BEL "t/o/data32_6" BEL "t/o/data27_6" BEL
        "t/o/data32_7" BEL "t/o/data27_7" BEL "t/o/data32_8" BEL
        "t/o/data27_8" BEL "t/o/data32_9" BEL "t/o/data27_9" BEL
        "t/o/data33_0" BEL "t/o/data28_0" BEL "t/o/data33_1" BEL
        "t/o/data28_1" BEL "t/o/data33_2" BEL "t/o/data28_2" BEL
        "t/o/data33_3" BEL "t/o/data28_3" BEL "t/o/data33_4" BEL
        "t/o/data28_4" BEL "t/o/data33_5" BEL "t/o/data28_5" BEL
        "t/o/data33_6" BEL "t/o/data28_6" BEL "t/o/data33_7" BEL
        "t/o/data28_7" BEL "t/o/data33_8" BEL "t/o/data28_8" BEL
        "t/o/data33_9" BEL "t/o/data28_9" BEL "t/o/data59_10" BEL
        "t/o/data64_10" BEL "t/o/data34_0" BEL "t/o/data29_0" BEL
        "t/o/data34_1" BEL "t/o/data29_1" BEL "t/o/data34_2" BEL
        "t/o/data29_2" BEL "t/o/data34_3" BEL "t/o/data29_3" BEL
        "t/o/data34_4" BEL "t/o/data29_4" BEL "t/o/data34_5" BEL
        "t/o/data29_5" BEL "t/o/data34_6" BEL "t/o/data29_6" BEL
        "t/o/data34_7" BEL "t/o/data29_7" BEL "t/o/data34_8" BEL
        "t/o/data29_8" BEL "t/o/data34_9" BEL "t/o/data29_9" BEL
        "t/o/data53_10" BEL "t/o/data48_10" BEL "t/o/data35_0" BEL
        "t/o/data40_0" BEL "t/o/data35_1" BEL "t/o/data40_1" BEL
        "t/o/data35_2" BEL "t/o/data40_2" BEL "t/o/data35_3" BEL
        "t/o/data40_3" BEL "t/o/data35_4" BEL "t/o/data40_4" BEL
        "t/o/data35_5" BEL "t/o/data40_5" BEL "t/o/data35_6" BEL
        "t/o/data40_6" BEL "t/o/data35_7" BEL "t/o/data40_7" BEL "t/o/data1_0"
        BEL "t/o/data35_8" BEL "t/o/data40_8" BEL "t/o/data1_1" BEL
        "t/o/data35_9" BEL "t/o/data40_9" BEL "t/o/data1_2" BEL "t/o/data1_3"
        BEL "t/o/data37_10" BEL "t/o/data42_10" BEL "t/o/data1_4" BEL
        "t/o/data1_5" BEL "t/o/data1_6" BEL "t/o/data1_7" BEL "t/o/data1_8"
        BEL "t/o/data1_9" BEL "t/o/data36_0" BEL "t/o/data41_0" BEL
        "t/o/data36_1" BEL "t/o/data41_1" BEL "t/o/data36_2" BEL
        "t/o/data41_2" BEL "t/o/data36_3" BEL "t/o/data41_3" BEL
        "t/o/data36_4" BEL "t/o/data41_4" BEL "t/o/data36_5" BEL
        "t/o/data26_10" BEL "t/o/data41_5" BEL "t/o/data31_10" BEL
        "t/o/data36_6" BEL "t/o/data41_6" BEL "t/o/data36_7" BEL
        "t/o/data9_10" BEL "t/o/data41_7" BEL "t/o/data36_8" BEL "t/o/data2_0"
        BEL "t/o/data41_8" BEL "t/o/data36_9" BEL "t/o/data2_1" BEL
        "t/o/data41_9" BEL "t/o/data2_2" BEL "t/o/data2_3" BEL "t/o/data2_4"
        BEL "t/o/data2_5" BEL "t/o/data2_6" BEL "t/o/data2_7" BEL
        "t/o/data2_8" BEL "t/o/data2_9" BEL "t/o/data20_10" BEL
        "t/o/data15_10" BEL "t/o/data37_0" BEL "t/o/data42_0" BEL
        "t/o/data37_1" BEL "t/o/data3_10" BEL "t/o/data42_1" BEL
        "t/o/data37_2" BEL "t/o/data42_2" BEL "t/o/data37_3" BEL
        "t/o/data42_3" BEL "t/o/data37_4" BEL "t/o/data42_4" BEL
        "t/o/data37_5" BEL "t/o/data42_5" BEL "t/o/data37_6" BEL
        "t/o/data42_6" BEL "t/o/data37_7" BEL "t/o/data42_7" BEL
        "t/o/data37_8" BEL "t/o/data3_0" BEL "t/o/data42_8" BEL "t/o/data37_9"
        BEL "t/o/data3_1" BEL "t/o/data42_9" BEL "t/o/data3_2" BEL
        "t/o/data3_3" BEL "t/o/data3_4" BEL "t/o/data3_5" BEL "t/o/data3_6"
        BEL "t/o/data3_7" BEL "t/o/data3_8" BEL "t/o/data3_9" BEL
        "t/a46/counter_11" BEL "t/a46/counter_10" BEL "t/a46/counter_9" BEL
        "t/a46/counter_8" BEL "t/a46/counter_7" BEL "t/a46/counter_6" BEL
        "t/a46/counter_5" BEL "t/a46/counter_4" BEL "t/a46/counter_3" BEL
        "t/a46/counter_2" BEL "t/a46/counter_1" BEL "t/a46/counter_0" BEL
        "t/a46/tmp1" BEL "t/a46/tmp0" BEL "t/a52/counter_11" BEL
        "t/a52/counter_10" BEL "t/a52/counter_9" BEL "t/a52/counter_8" BEL
        "t/a52/counter_7" BEL "t/a52/counter_6" BEL "t/a52/counter_5" BEL
        "t/a52/counter_4" BEL "t/a52/counter_3" BEL "t/a52/counter_2" BEL
        "t/a52/counter_1" BEL "t/a52/counter_0" BEL "t/a52/tmp1" BEL
        "t/a52/tmp0" BEL "t/a47/counter_11" BEL "t/a47/counter_10" BEL
        "t/a47/counter_9" BEL "t/a47/counter_8" BEL "t/a47/counter_7" BEL
        "t/a47/counter_6" BEL "t/a47/counter_5" BEL "t/a47/counter_4" BEL
        "t/a47/counter_3" BEL "t/a47/counter_2" BEL "t/a47/counter_1" BEL
        "t/a47/counter_0" BEL "t/a47/tmp1" BEL "t/a47/tmp0" BEL
        "t/a53/counter_11" BEL "t/a53/counter_10" BEL "t/a53/counter_9" BEL
        "t/a53/counter_8" BEL "t/a53/counter_7" BEL "t/a53/counter_6" BEL
        "t/a53/counter_5" BEL "t/a53/counter_4" BEL "t/a53/counter_3" BEL
        "t/a53/counter_2" BEL "t/a53/counter_1" BEL "t/a53/counter_0" BEL
        "t/a53/tmp1" BEL "t/a53/tmp0" BEL "t/a48/counter_11" BEL
        "t/a48/counter_10" BEL "t/a48/counter_9" BEL "t/a48/counter_8" BEL
        "t/a48/counter_7" BEL "t/a48/counter_6" BEL "t/a48/counter_5" BEL
        "t/a48/counter_4" BEL "t/a48/counter_3" BEL "t/a48/counter_2" BEL
        "t/a48/counter_1" BEL "t/a48/counter_0" BEL "t/a48/tmp1" BEL
        "t/a48/tmp0" BEL "t/a54/counter_11" BEL "t/a54/counter_10" BEL
        "t/a54/counter_9" BEL "t/a54/counter_8" BEL "t/a54/counter_7" BEL
        "t/a54/counter_6" BEL "t/a54/counter_5" BEL "t/a54/counter_4" BEL
        "t/a54/counter_3" BEL "t/a54/counter_2" BEL "t/a54/counter_1" BEL
        "t/a54/counter_0" BEL "t/a54/tmp1" BEL "t/a54/tmp0" BEL
        "t/a49/counter_11" BEL "t/a49/counter_10" BEL "t/a49/counter_9" BEL
        "t/a49/counter_8" BEL "t/a49/counter_7" BEL "t/a49/counter_6" BEL
        "t/a49/counter_5" BEL "t/a49/counter_4" BEL "t/a49/counter_3" BEL
        "t/a49/counter_2" BEL "t/a49/counter_1" BEL "t/a49/counter_0" BEL
        "t/a49/tmp1" BEL "t/a49/tmp0" BEL "t/a60/counter_11" BEL
        "t/a60/counter_10" BEL "t/a60/counter_9" BEL "t/a60/counter_8" BEL
        "t/a60/counter_7" BEL "t/a60/counter_6" BEL "t/a60/counter_5" BEL
        "t/a60/counter_4" BEL "t/a60/counter_3" BEL "t/a60/counter_2" BEL
        "t/a60/counter_1" BEL "t/a60/counter_0" BEL "t/a60/tmp1" BEL
        "t/a60/tmp0" BEL "t/a55/counter_11" BEL "t/a55/counter_10" BEL
        "t/a55/counter_9" BEL "t/a55/counter_8" BEL "t/a55/counter_7" BEL
        "t/a55/counter_6" BEL "t/a55/counter_5" BEL "t/a55/counter_4" BEL
        "t/a55/counter_3" BEL "t/a55/counter_2" BEL "t/a55/counter_1" BEL
        "t/a55/counter_0" BEL "t/a55/tmp1" BEL "t/a55/tmp0" BEL
        "t/a61/counter_11" BEL "t/a61/counter_10" BEL "t/a61/counter_9" BEL
        "t/a61/counter_8" BEL "t/a61/counter_7" BEL "t/a61/counter_6" BEL
        "t/a61/counter_5" BEL "t/a61/counter_4" BEL "t/a61/counter_3" BEL
        "t/a61/counter_2" BEL "t/a61/counter_1" BEL "t/a61/counter_0" BEL
        "t/a61/tmp1" BEL "t/a61/tmp0" BEL "t/a56/counter_11" BEL
        "t/a56/counter_10" BEL "t/a56/counter_9" BEL "t/a56/counter_8" BEL
        "t/a56/counter_7" BEL "t/a56/counter_6" BEL "t/a56/counter_5" BEL
        "t/a56/counter_4" BEL "t/a56/counter_3" BEL "t/a56/counter_2" BEL
        "t/a56/counter_1" BEL "t/a56/counter_0" BEL "t/a56/tmp1" BEL
        "t/a56/tmp0" BEL "t/a62/counter_11" BEL "t/a62/counter_10" BEL
        "t/a62/counter_9" BEL "t/a62/counter_8" BEL "t/a62/counter_7" BEL
        "t/a62/counter_6" BEL "t/a62/counter_5" BEL "t/a62/counter_4" BEL
        "t/a62/counter_3" BEL "t/a62/counter_2" BEL "t/a62/counter_1" BEL
        "t/a62/counter_0" BEL "t/a62/tmp1" BEL "t/a62/tmp0" BEL
        "t/a57/counter_11" BEL "t/a57/counter_10" BEL "t/a57/counter_9" BEL
        "t/a57/counter_8" BEL "t/a57/counter_7" BEL "t/a57/counter_6" BEL
        "t/a57/counter_5" BEL "t/a57/counter_4" BEL "t/a57/counter_3" BEL
        "t/a57/counter_2" BEL "t/a57/counter_1" BEL "t/a57/counter_0" BEL
        "t/a57/tmp1" BEL "t/a57/tmp0" BEL "t/a63/counter_11" BEL
        "t/a63/counter_10" BEL "t/a63/counter_9" BEL "t/a63/counter_8" BEL
        "t/a63/counter_7" BEL "t/a63/counter_6" BEL "t/a63/counter_5" BEL
        "t/a63/counter_4" BEL "t/a63/counter_3" BEL "t/a63/counter_2" BEL
        "t/a63/counter_1" BEL "t/a63/counter_0" BEL "t/a63/tmp1" BEL
        "t/a63/tmp0" BEL "t/a58/counter_11" BEL "t/a58/counter_10" BEL
        "t/a58/counter_9" BEL "t/a58/counter_8" BEL "t/a58/counter_7" BEL
        "t/a58/counter_6" BEL "t/a58/counter_5" BEL "t/a58/counter_4" BEL
        "t/a58/counter_3" BEL "t/a58/counter_2" BEL "t/a58/counter_1" BEL
        "t/a58/counter_0" BEL "t/a58/tmp1" BEL "t/a58/tmp0" BEL
        "t/a64/counter_11" BEL "t/a64/counter_10" BEL "t/a64/counter_9" BEL
        "t/a64/counter_8" BEL "t/a64/counter_7" BEL "t/a64/counter_6" BEL
        "t/a64/counter_5" BEL "t/a64/counter_4" BEL "t/a64/counter_3" BEL
        "t/a64/counter_2" BEL "t/a64/counter_1" BEL "t/a64/counter_0" BEL
        "t/a64/tmp1" BEL "t/a64/tmp0" BEL "t/a59/counter_11" BEL
        "t/a59/counter_10" BEL "t/a59/counter_9" BEL "t/a59/counter_8" BEL
        "t/a59/counter_7" BEL "t/a59/counter_6" BEL "t/a59/counter_5" BEL
        "t/a59/counter_4" BEL "t/a59/counter_3" BEL "t/a59/counter_2" BEL
        "t/a59/counter_1" BEL "t/a59/counter_0" BEL "t/a59/tmp1" BEL
        "t/a59/tmp0" BEL "t/a1/counter_11" BEL "t/a1/counter_10" BEL
        "t/a1/counter_9" BEL "t/a1/counter_8" BEL "t/a1/counter_7" BEL
        "t/a1/counter_6" BEL "t/a1/counter_5" BEL "t/a1/counter_4" BEL
        "t/a1/counter_3" BEL "t/a1/counter_2" BEL "t/a1/counter_1" BEL
        "t/a1/counter_0" BEL "t/a1/tmp1" BEL "t/a1/tmp0" BEL "t/a2/counter_11"
        BEL "t/a2/counter_10" BEL "t/a2/counter_9" BEL "t/a2/counter_8" BEL
        "t/a2/counter_7" BEL "t/a2/counter_6" BEL "t/a2/counter_5" BEL
        "t/a2/counter_4" BEL "t/a2/counter_3" BEL "t/a2/counter_2" BEL
        "t/a2/counter_1" BEL "t/a2/counter_0" BEL "t/a2/tmp1" BEL "t/a2/tmp0"
        BEL "t/a3/counter_11" BEL "t/a3/counter_10" BEL "t/a3/counter_9" BEL
        "t/a3/counter_8" BEL "t/a3/counter_7" BEL "t/a3/counter_6" BEL
        "t/a3/counter_5" BEL "t/a3/counter_4" BEL "t/a3/counter_3" BEL
        "t/a3/counter_2" BEL "t/a3/counter_1" BEL "t/a3/counter_0" BEL
        "t/a3/tmp1" BEL "t/a3/tmp0" BEL "t/a4/counter_11" BEL
        "t/a4/counter_10" BEL "t/a4/counter_9" BEL "t/a4/counter_8" BEL
        "t/a4/counter_7" BEL "t/a4/counter_6" BEL "t/a4/counter_5" BEL
        "t/a4/counter_4" BEL "t/a4/counter_3" BEL "t/a4/counter_2" BEL
        "t/a4/counter_1" BEL "t/a4/counter_0" BEL "t/a4/tmp1" BEL "t/a4/tmp0"
        BEL "t/a5/counter_11" BEL "t/a5/counter_10" BEL "t/a5/counter_9" BEL
        "t/a5/counter_8" BEL "t/a5/counter_7" BEL "t/a5/counter_6" BEL
        "t/a5/counter_5" BEL "t/a5/counter_4" BEL "t/a5/counter_3" BEL
        "t/a5/counter_2" BEL "t/a5/counter_1" BEL "t/a5/counter_0" BEL
        "t/a5/tmp1" BEL "t/a5/tmp0" BEL "t/a6/counter_11" BEL
        "t/a6/counter_10" BEL "t/a6/counter_9" BEL "t/a6/counter_8" BEL
        "t/a6/counter_7" BEL "t/a6/counter_6" BEL "t/a6/counter_5" BEL
        "t/a6/counter_4" BEL "t/a6/counter_3" BEL "t/a6/counter_2" BEL
        "t/a6/counter_1" BEL "t/a6/counter_0" BEL "t/a6/tmp1" BEL "t/a6/tmp0"
        BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

