//! **************************************************************************
// Written by: Map P.20131013 on Sat Dec 09 23:04:52 2023
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "sClk" LOCATE = SITE "P51" LEVEL 1;
COMP "test" LOCATE = SITE "P9" LEVEL 1;
COMP "data[0]" LOCATE = SITE "P127" LEVEL 1;
COMP "data[1]" LOCATE = SITE "P132" LEVEL 1;
COMP "data[2]" LOCATE = SITE "P134" LEVEL 1;
COMP "data[3]" LOCATE = SITE "P138" LEVEL 1;
COMP "data[4]" LOCATE = SITE "P140" LEVEL 1;
COMP "data[5]" LOCATE = SITE "P142" LEVEL 1;
COMP "data[6]" LOCATE = SITE "P144" LEVEL 1;
COMP "data[7]" LOCATE = SITE "P2" LEVEL 1;
COMP "clock" LOCATE = SITE "P123" LEVEL 1;
COMP "latch" LOCATE = SITE "P124" LEVEL 1;
COMP "serialIn" LOCATE = SITE "P10" LEVEL 1;
TIMEGRP clk = BEL "t/a10/tmp1" BEL "t/a10/tmp0" BEL "t/a10/counter_11" BEL
        "t/a10/counter_10" BEL "t/a10/counter_9" BEL "t/a10/counter_8" BEL
        "t/a10/counter_7" BEL "t/a10/counter_6" BEL "t/a10/counter_5" BEL
        "t/a10/counter_4" BEL "t/a10/counter_3" BEL "t/a10/counter_2" BEL
        "t/a10/counter_1" BEL "t/a10/counter_0" BEL "t/a11/tmp1" BEL
        "t/a11/tmp0" BEL "t/a11/counter_11" BEL "t/a11/counter_10" BEL
        "t/a11/counter_9" BEL "t/a11/counter_8" BEL "t/a11/counter_7" BEL
        "t/a11/counter_6" BEL "t/a11/counter_5" BEL "t/a11/counter_4" BEL
        "t/a11/counter_3" BEL "t/a11/counter_2" BEL "t/a11/counter_1" BEL
        "t/a11/counter_0" BEL "t/a12/tmp1" BEL "t/a12/tmp0" BEL
        "t/a12/counter_11" BEL "t/a12/counter_10" BEL "t/a12/counter_9" BEL
        "t/a12/counter_8" BEL "t/a12/counter_7" BEL "t/a12/counter_6" BEL
        "t/a12/counter_5" BEL "t/a12/counter_4" BEL "t/a12/counter_3" BEL
        "t/a12/counter_2" BEL "t/a12/counter_1" BEL "t/a12/counter_0" BEL
        "t/a13/tmp1" BEL "t/a13/tmp0" BEL "t/a13/counter_11" BEL
        "t/a13/counter_10" BEL "t/a13/counter_9" BEL "t/a13/counter_8" BEL
        "t/a13/counter_7" BEL "t/a13/counter_6" BEL "t/a13/counter_5" BEL
        "t/a13/counter_4" BEL "t/a13/counter_3" BEL "t/a13/counter_2" BEL
        "t/a13/counter_1" BEL "t/a13/counter_0" BEL "t/a14/tmp1" BEL
        "t/a14/tmp0" BEL "t/a14/counter_11" BEL "t/a14/counter_10" BEL
        "t/a14/counter_9" BEL "t/a14/counter_8" BEL "t/a14/counter_7" BEL
        "t/a14/counter_6" BEL "t/a14/counter_5" BEL "t/a14/counter_4" BEL
        "t/a14/counter_3" BEL "t/a14/counter_2" BEL "t/a14/counter_1" BEL
        "t/a14/counter_0" BEL "t/a20/tmp1" BEL "t/a20/tmp0" BEL
        "t/a20/counter_11" BEL "t/a20/counter_10" BEL "t/a20/counter_9" BEL
        "t/a20/counter_8" BEL "t/a20/counter_7" BEL "t/a20/counter_6" BEL
        "t/a20/counter_5" BEL "t/a20/counter_4" BEL "t/a20/counter_3" BEL
        "t/a20/counter_2" BEL "t/a20/counter_1" BEL "t/a20/counter_0" BEL
        "t/a15/tmp1" BEL "t/a15/tmp0" BEL "t/a15/counter_11" BEL
        "t/a15/counter_10" BEL "t/a15/counter_9" BEL "t/a15/counter_8" BEL
        "t/a15/counter_7" BEL "t/a15/counter_6" BEL "t/a15/counter_5" BEL
        "t/a15/counter_4" BEL "t/a15/counter_3" BEL "t/a15/counter_2" BEL
        "t/a15/counter_1" BEL "t/a15/counter_0" BEL "t/a21/tmp1" BEL
        "t/a21/tmp0" BEL "t/a21/counter_11" BEL "t/a21/counter_10" BEL
        "t/a21/counter_9" BEL "t/a21/counter_8" BEL "t/a21/counter_7" BEL
        "t/a21/counter_6" BEL "t/a21/counter_5" BEL "t/a21/counter_4" BEL
        "t/a21/counter_3" BEL "t/a21/counter_2" BEL "t/a21/counter_1" BEL
        "t/a21/counter_0" BEL "t/a16/tmp1" BEL "t/a16/tmp0" BEL
        "t/a16/counter_11" BEL "t/a16/counter_10" BEL "t/a16/counter_9" BEL
        "t/a16/counter_8" BEL "t/a16/counter_7" BEL "t/a16/counter_6" BEL
        "t/a16/counter_5" BEL "t/a16/counter_4" BEL "t/a16/counter_3" BEL
        "t/a16/counter_2" BEL "t/a16/counter_1" BEL "t/a16/counter_0" BEL
        "t/a22/tmp1" BEL "t/a22/tmp0" BEL "t/a22/counter_11" BEL
        "t/a22/counter_10" BEL "t/a22/counter_9" BEL "t/a22/counter_8" BEL
        "t/a22/counter_7" BEL "t/a22/counter_6" BEL "t/a22/counter_5" BEL
        "t/a22/counter_4" BEL "t/a22/counter_3" BEL "t/a22/counter_2" BEL
        "t/a22/counter_1" BEL "t/a22/counter_0" BEL "t/a17/tmp1" BEL
        "t/a17/tmp0" BEL "t/a17/counter_11" BEL "t/a17/counter_10" BEL
        "t/a17/counter_9" BEL "t/a17/counter_8" BEL "t/a17/counter_7" BEL
        "t/a17/counter_6" BEL "t/a17/counter_5" BEL "t/a17/counter_4" BEL
        "t/a17/counter_3" BEL "t/a17/counter_2" BEL "t/a17/counter_1" BEL
        "t/a17/counter_0" BEL "t/a23/tmp1" BEL "t/a23/tmp0" BEL
        "t/a23/counter_11" BEL "t/a23/counter_10" BEL "t/a23/counter_9" BEL
        "t/a23/counter_8" BEL "t/a23/counter_7" BEL "t/a23/counter_6" BEL
        "t/a23/counter_5" BEL "t/a23/counter_4" BEL "t/a23/counter_3" BEL
        "t/a23/counter_2" BEL "t/a23/counter_1" BEL "t/a23/counter_0" BEL
        "t/b/counter_5" BEL "t/b/counter_4" BEL "t/b/counter_3" BEL
        "t/b/counter_2" BEL "t/b/counter_1" BEL "t/b/counter_0" BEL
        "t/b/oData_7" BEL "t/b/oData_6" BEL "t/b/oData_5" BEL "t/b/oData_4"
        BEL "t/b/oData_3" BEL "t/b/oData_2" BEL "t/b/oData_1" BEL
        "t/b/oData_0" BEL "t/b/oClock" BEL "t/b/oLatch" BEL "t/a18/tmp1" BEL
        "t/a18/tmp0" BEL "t/a18/counter_11" BEL "t/a18/counter_10" BEL
        "t/a18/counter_9" BEL "t/a18/counter_8" BEL "t/a18/counter_7" BEL
        "t/a18/counter_6" BEL "t/a18/counter_5" BEL "t/a18/counter_4" BEL
        "t/a18/counter_3" BEL "t/a18/counter_2" BEL "t/a18/counter_1" BEL
        "t/a18/counter_0" BEL "t/a24/tmp1" BEL "t/a24/tmp0" BEL
        "t/a24/counter_11" BEL "t/a24/counter_10" BEL "t/a24/counter_9" BEL
        "t/a24/counter_8" BEL "t/a24/counter_7" BEL "t/a24/counter_6" BEL
        "t/a24/counter_5" BEL "t/a24/counter_4" BEL "t/a24/counter_3" BEL
        "t/a24/counter_2" BEL "t/a24/counter_1" BEL "t/a24/counter_0" BEL
        "t/a19/tmp1" BEL "t/a19/tmp0" BEL "t/a19/counter_11" BEL
        "t/a19/counter_10" BEL "t/a19/counter_9" BEL "t/a19/counter_8" BEL
        "t/a19/counter_7" BEL "t/a19/counter_6" BEL "t/a19/counter_5" BEL
        "t/a19/counter_4" BEL "t/a19/counter_3" BEL "t/a19/counter_2" BEL
        "t/a19/counter_1" BEL "t/a19/counter_0" BEL "t/a30/tmp1" BEL
        "t/a30/tmp0" BEL "t/a30/counter_11" BEL "t/a30/counter_10" BEL
        "t/a30/counter_9" BEL "t/a30/counter_8" BEL "t/a30/counter_7" BEL
        "t/a30/counter_6" BEL "t/a30/counter_5" BEL "t/a30/counter_4" BEL
        "t/a30/counter_3" BEL "t/a30/counter_2" BEL "t/a30/counter_1" BEL
        "t/a30/counter_0" BEL "t/a25/tmp1" BEL "t/a25/tmp0" BEL
        "t/a25/counter_11" BEL "t/a25/counter_10" BEL "t/a25/counter_9" BEL
        "t/a25/counter_8" BEL "t/a25/counter_7" BEL "t/a25/counter_6" BEL
        "t/a25/counter_5" BEL "t/a25/counter_4" BEL "t/a25/counter_3" BEL
        "t/a25/counter_2" BEL "t/a25/counter_1" BEL "t/a25/counter_0" BEL
        "t/a31/tmp1" BEL "t/a31/tmp0" BEL "t/a31/counter_11" BEL
        "t/a31/counter_10" BEL "t/a31/counter_9" BEL "t/a31/counter_8" BEL
        "t/a31/counter_7" BEL "t/a31/counter_6" BEL "t/a31/counter_5" BEL
        "t/a31/counter_4" BEL "t/a31/counter_3" BEL "t/a31/counter_2" BEL
        "t/a31/counter_1" BEL "t/a31/counter_0" BEL "t/a26/tmp1" BEL
        "t/a26/tmp0" BEL "t/a26/counter_11" BEL "t/a26/counter_10" BEL
        "t/a26/counter_9" BEL "t/a26/counter_8" BEL "t/a26/counter_7" BEL
        "t/a26/counter_6" BEL "t/a26/counter_5" BEL "t/a26/counter_4" BEL
        "t/a26/counter_3" BEL "t/a26/counter_2" BEL "t/a26/counter_1" BEL
        "t/a26/counter_0" BEL "t/a32/tmp1" BEL "t/a32/tmp0" BEL
        "t/a32/counter_11" BEL "t/a32/counter_10" BEL "t/a32/counter_9" BEL
        "t/a32/counter_8" BEL "t/a32/counter_7" BEL "t/a32/counter_6" BEL
        "t/a32/counter_5" BEL "t/a32/counter_4" BEL "t/a32/counter_3" BEL
        "t/a32/counter_2" BEL "t/a32/counter_1" BEL "t/a32/counter_0" BEL
        "t/a7/tmp1" BEL "t/a7/tmp0" BEL "t/a7/counter_11" BEL
        "t/a7/counter_10" BEL "t/a7/counter_9" BEL "t/a7/counter_8" BEL
        "t/a7/counter_7" BEL "t/a7/counter_6" BEL "t/a7/counter_5" BEL
        "t/a7/counter_4" BEL "t/a7/counter_3" BEL "t/a7/counter_2" BEL
        "t/a7/counter_1" BEL "t/a7/counter_0" BEL "t/a27/tmp1" BEL
        "t/a27/tmp0" BEL "t/a27/counter_11" BEL "t/a27/counter_10" BEL
        "t/a27/counter_9" BEL "t/a27/counter_8" BEL "t/a27/counter_7" BEL
        "t/a27/counter_6" BEL "t/a27/counter_5" BEL "t/a27/counter_4" BEL
        "t/a27/counter_3" BEL "t/a27/counter_2" BEL "t/a27/counter_1" BEL
        "t/a27/counter_0" BEL "t/a33/tmp1" BEL "t/a33/tmp0" BEL
        "t/a33/counter_11" BEL "t/a33/counter_10" BEL "t/a33/counter_9" BEL
        "t/a33/counter_8" BEL "t/a33/counter_7" BEL "t/a33/counter_6" BEL
        "t/a33/counter_5" BEL "t/a33/counter_4" BEL "t/a33/counter_3" BEL
        "t/a33/counter_2" BEL "t/a33/counter_1" BEL "t/a33/counter_0" BEL
        "t/a8/tmp1" BEL "t/a8/tmp0" BEL "t/a8/counter_11" BEL
        "t/a8/counter_10" BEL "t/a8/counter_9" BEL "t/a8/counter_8" BEL
        "t/a8/counter_7" BEL "t/a8/counter_6" BEL "t/a8/counter_5" BEL
        "t/a8/counter_4" BEL "t/a8/counter_3" BEL "t/a8/counter_2" BEL
        "t/a8/counter_1" BEL "t/a8/counter_0" BEL "t/a28/tmp1" BEL
        "t/a28/tmp0" BEL "t/a28/counter_11" BEL "t/a28/counter_10" BEL
        "t/a28/counter_9" BEL "t/a28/counter_8" BEL "t/a28/counter_7" BEL
        "t/a28/counter_6" BEL "t/a28/counter_5" BEL "t/a28/counter_4" BEL
        "t/a28/counter_3" BEL "t/a28/counter_2" BEL "t/a28/counter_1" BEL
        "t/a28/counter_0" BEL "t/a34/tmp1" BEL "t/a34/tmp0" BEL
        "t/a34/counter_11" BEL "t/a34/counter_10" BEL "t/a34/counter_9" BEL
        "t/a34/counter_8" BEL "t/a34/counter_7" BEL "t/a34/counter_6" BEL
        "t/a34/counter_5" BEL "t/a34/counter_4" BEL "t/a34/counter_3" BEL
        "t/a34/counter_2" BEL "t/a34/counter_1" BEL "t/a34/counter_0" BEL
        "t/a9/tmp1" BEL "t/a9/tmp0" BEL "t/a9/counter_11" BEL
        "t/a9/counter_10" BEL "t/a9/counter_9" BEL "t/a9/counter_8" BEL
        "t/a9/counter_7" BEL "t/a9/counter_6" BEL "t/a9/counter_5" BEL
        "t/a9/counter_4" BEL "t/a9/counter_3" BEL "t/a9/counter_2" BEL
        "t/a9/counter_1" BEL "t/a9/counter_0" BEL "t/a29/tmp1" BEL
        "t/a29/tmp0" BEL "t/a29/counter_11" BEL "t/a29/counter_10" BEL
        "t/a29/counter_9" BEL "t/a29/counter_8" BEL "t/a29/counter_7" BEL
        "t/a29/counter_6" BEL "t/a29/counter_5" BEL "t/a29/counter_4" BEL
        "t/a29/counter_3" BEL "t/a29/counter_2" BEL "t/a29/counter_1" BEL
        "t/a29/counter_0" BEL "t/a40/tmp1" BEL "t/a40/tmp0" BEL
        "t/a40/counter_11" BEL "t/a40/counter_10" BEL "t/a40/counter_9" BEL
        "t/a40/counter_8" BEL "t/a40/counter_7" BEL "t/a40/counter_6" BEL
        "t/a40/counter_5" BEL "t/a40/counter_4" BEL "t/a40/counter_3" BEL
        "t/a40/counter_2" BEL "t/a40/counter_1" BEL "t/a40/counter_0" BEL
        "t/a35/tmp1" BEL "t/a35/tmp0" BEL "t/a35/counter_11" BEL
        "t/a35/counter_10" BEL "t/a35/counter_9" BEL "t/a35/counter_8" BEL
        "t/a35/counter_7" BEL "t/a35/counter_6" BEL "t/a35/counter_5" BEL
        "t/a35/counter_4" BEL "t/a35/counter_3" BEL "t/a35/counter_2" BEL
        "t/a35/counter_1" BEL "t/a35/counter_0" BEL "t/a41/tmp1" BEL
        "t/a41/tmp0" BEL "t/a41/counter_11" BEL "t/a41/counter_10" BEL
        "t/a41/counter_9" BEL "t/a41/counter_8" BEL "t/a41/counter_7" BEL
        "t/a41/counter_6" BEL "t/a41/counter_5" BEL "t/a41/counter_4" BEL
        "t/a41/counter_3" BEL "t/a41/counter_2" BEL "t/a41/counter_1" BEL
        "t/a41/counter_0" BEL "t/a36/tmp1" BEL "t/a36/tmp0" BEL
        "t/a36/counter_11" BEL "t/a36/counter_10" BEL "t/a36/counter_9" BEL
        "t/a36/counter_8" BEL "t/a36/counter_7" BEL "t/a36/counter_6" BEL
        "t/a36/counter_5" BEL "t/a36/counter_4" BEL "t/a36/counter_3" BEL
        "t/a36/counter_2" BEL "t/a36/counter_1" BEL "t/a36/counter_0" BEL
        "t/a42/tmp1" BEL "t/a42/tmp0" BEL "t/a42/counter_11" BEL
        "t/a42/counter_10" BEL "t/a42/counter_9" BEL "t/a42/counter_8" BEL
        "t/a42/counter_7" BEL "t/a42/counter_6" BEL "t/a42/counter_5" BEL
        "t/a42/counter_4" BEL "t/a42/counter_3" BEL "t/a42/counter_2" BEL
        "t/a42/counter_1" BEL "t/a42/counter_0" BEL "t/a37/tmp1" BEL
        "t/a37/tmp0" BEL "t/a37/counter_11" BEL "t/a37/counter_10" BEL
        "t/a37/counter_9" BEL "t/a37/counter_8" BEL "t/a37/counter_7" BEL
        "t/a37/counter_6" BEL "t/a37/counter_5" BEL "t/a37/counter_4" BEL
        "t/a37/counter_3" BEL "t/a37/counter_2" BEL "t/a37/counter_1" BEL
        "t/a37/counter_0" BEL "t/a43/tmp1" BEL "t/a43/tmp0" BEL
        "t/a43/counter_11" BEL "t/a43/counter_10" BEL "t/a43/counter_9" BEL
        "t/a43/counter_8" BEL "t/a43/counter_7" BEL "t/a43/counter_6" BEL
        "t/a43/counter_5" BEL "t/a43/counter_4" BEL "t/a43/counter_3" BEL
        "t/a43/counter_2" BEL "t/a43/counter_1" BEL "t/a43/counter_0" BEL
        "t/a38/tmp1" BEL "t/a38/tmp0" BEL "t/a38/counter_11" BEL
        "t/a38/counter_10" BEL "t/a38/counter_9" BEL "t/a38/counter_8" BEL
        "t/a38/counter_7" BEL "t/a38/counter_6" BEL "t/a38/counter_5" BEL
        "t/a38/counter_4" BEL "t/a38/counter_3" BEL "t/a38/counter_2" BEL
        "t/a38/counter_1" BEL "t/a38/counter_0" BEL "t/a44/tmp1" BEL
        "t/a44/tmp0" BEL "t/a44/counter_11" BEL "t/a44/counter_10" BEL
        "t/a44/counter_9" BEL "t/a44/counter_8" BEL "t/a44/counter_7" BEL
        "t/a44/counter_6" BEL "t/a44/counter_5" BEL "t/a44/counter_4" BEL
        "t/a44/counter_3" BEL "t/a44/counter_2" BEL "t/a44/counter_1" BEL
        "t/a44/counter_0" BEL "t/a39/tmp1" BEL "t/a39/tmp0" BEL
        "t/a39/counter_11" BEL "t/a39/counter_10" BEL "t/a39/counter_9" BEL
        "t/a39/counter_8" BEL "t/a39/counter_7" BEL "t/a39/counter_6" BEL
        "t/a39/counter_5" BEL "t/a39/counter_4" BEL "t/a39/counter_3" BEL
        "t/a39/counter_2" BEL "t/a39/counter_1" BEL "t/a39/counter_0" BEL
        "t/a50/tmp1" BEL "t/a50/tmp0" BEL "t/a50/counter_11" BEL
        "t/a50/counter_10" BEL "t/a50/counter_9" BEL "t/a50/counter_8" BEL
        "t/a50/counter_7" BEL "t/a50/counter_6" BEL "t/a50/counter_5" BEL
        "t/a50/counter_4" BEL "t/a50/counter_3" BEL "t/a50/counter_2" BEL
        "t/a50/counter_1" BEL "t/a50/counter_0" BEL "t/a45/tmp1" BEL
        "t/a45/tmp0" BEL "t/a45/counter_11" BEL "t/a45/counter_10" BEL
        "t/a45/counter_9" BEL "t/a45/counter_8" BEL "t/a45/counter_7" BEL
        "t/a45/counter_6" BEL "t/a45/counter_5" BEL "t/a45/counter_4" BEL
        "t/a45/counter_3" BEL "t/a45/counter_2" BEL "t/a45/counter_1" BEL
        "t/a45/counter_0" BEL "t/a51/tmp1" BEL "t/a51/tmp0" BEL
        "t/a51/counter_11" BEL "t/a51/counter_10" BEL "t/a51/counter_9" BEL
        "t/a51/counter_8" BEL "t/a51/counter_7" BEL "t/a51/counter_6" BEL
        "t/a51/counter_5" BEL "t/a51/counter_4" BEL "t/a51/counter_3" BEL
        "t/a51/counter_2" BEL "t/a51/counter_1" BEL "t/a51/counter_0" BEL
        "t/a46/tmp1" BEL "t/a46/tmp0" BEL "t/a46/counter_11" BEL
        "t/a46/counter_10" BEL "t/a46/counter_9" BEL "t/a46/counter_8" BEL
        "t/a46/counter_7" BEL "t/a46/counter_6" BEL "t/a46/counter_5" BEL
        "t/a46/counter_4" BEL "t/a46/counter_3" BEL "t/a46/counter_2" BEL
        "t/a46/counter_1" BEL "t/a46/counter_0" BEL "t/a52/tmp1" BEL
        "t/a52/tmp0" BEL "t/a52/counter_11" BEL "t/a52/counter_10" BEL
        "t/a52/counter_9" BEL "t/a52/counter_8" BEL "t/a52/counter_7" BEL
        "t/a52/counter_6" BEL "t/a52/counter_5" BEL "t/a52/counter_4" BEL
        "t/a52/counter_3" BEL "t/a52/counter_2" BEL "t/a52/counter_1" BEL
        "t/a52/counter_0" BEL "t/a47/tmp1" BEL "t/a47/tmp0" BEL
        "t/a47/counter_11" BEL "t/a47/counter_10" BEL "t/a47/counter_9" BEL
        "t/a47/counter_8" BEL "t/a47/counter_7" BEL "t/a47/counter_6" BEL
        "t/a47/counter_5" BEL "t/a47/counter_4" BEL "t/a47/counter_3" BEL
        "t/a47/counter_2" BEL "t/a47/counter_1" BEL "t/a47/counter_0" BEL
        "t/a53/tmp1" BEL "t/a53/tmp0" BEL "t/a53/counter_11" BEL
        "t/a53/counter_10" BEL "t/a53/counter_9" BEL "t/a53/counter_8" BEL
        "t/a53/counter_7" BEL "t/a53/counter_6" BEL "t/a53/counter_5" BEL
        "t/a53/counter_4" BEL "t/a53/counter_3" BEL "t/a53/counter_2" BEL
        "t/a53/counter_1" BEL "t/a53/counter_0" BEL "t/a48/tmp1" BEL
        "t/a48/tmp0" BEL "t/a48/counter_11" BEL "t/a48/counter_10" BEL
        "t/a48/counter_9" BEL "t/a48/counter_8" BEL "t/a48/counter_7" BEL
        "t/a48/counter_6" BEL "t/a48/counter_5" BEL "t/a48/counter_4" BEL
        "t/a48/counter_3" BEL "t/a48/counter_2" BEL "t/a48/counter_1" BEL
        "t/a48/counter_0" BEL "t/a54/tmp1" BEL "t/a54/tmp0" BEL
        "t/a54/counter_11" BEL "t/a54/counter_10" BEL "t/a54/counter_9" BEL
        "t/a54/counter_8" BEL "t/a54/counter_7" BEL "t/a54/counter_6" BEL
        "t/a54/counter_5" BEL "t/a54/counter_4" BEL "t/a54/counter_3" BEL
        "t/a54/counter_2" BEL "t/a54/counter_1" BEL "t/a54/counter_0" BEL
        "t/a49/tmp1" BEL "t/a49/tmp0" BEL "t/a49/counter_11" BEL
        "t/a49/counter_10" BEL "t/a49/counter_9" BEL "t/a49/counter_8" BEL
        "t/a49/counter_7" BEL "t/a49/counter_6" BEL "t/a49/counter_5" BEL
        "t/a49/counter_4" BEL "t/a49/counter_3" BEL "t/a49/counter_2" BEL
        "t/a49/counter_1" BEL "t/a49/counter_0" BEL "t/a60/tmp1" BEL
        "t/a60/tmp0" BEL "t/a60/counter_11" BEL "t/a60/counter_10" BEL
        "t/a60/counter_9" BEL "t/a60/counter_8" BEL "t/a60/counter_7" BEL
        "t/a60/counter_6" BEL "t/a60/counter_5" BEL "t/a60/counter_4" BEL
        "t/a60/counter_3" BEL "t/a60/counter_2" BEL "t/a60/counter_1" BEL
        "t/a60/counter_0" BEL "t/a55/tmp1" BEL "t/a55/tmp0" BEL
        "t/a55/counter_11" BEL "t/a55/counter_10" BEL "t/a55/counter_9" BEL
        "t/a55/counter_8" BEL "t/a55/counter_7" BEL "t/a55/counter_6" BEL
        "t/a55/counter_5" BEL "t/a55/counter_4" BEL "t/a55/counter_3" BEL
        "t/a55/counter_2" BEL "t/a55/counter_1" BEL "t/a55/counter_0" BEL
        "t/a61/tmp1" BEL "t/a61/tmp0" BEL "t/a61/counter_11" BEL
        "t/a61/counter_10" BEL "t/a61/counter_9" BEL "t/a61/counter_8" BEL
        "t/a61/counter_7" BEL "t/a61/counter_6" BEL "t/a61/counter_5" BEL
        "t/a61/counter_4" BEL "t/a61/counter_3" BEL "t/a61/counter_2" BEL
        "t/a61/counter_1" BEL "t/a61/counter_0" BEL "t/t/counter_11" BEL
        "t/t/counter_10" BEL "t/t/counter_9" BEL "t/t/counter_8" BEL
        "t/t/counter_7" BEL "t/t/counter_6" BEL "t/t/counter_5" BEL
        "t/t/counter_4" BEL "t/t/counter_3" BEL "t/t/counter_2" BEL
        "t/t/counter_1" BEL "t/t/counter_0" BEL "t/t/tmp0" BEL "t/a56/tmp1"
        BEL "t/a56/tmp0" BEL "t/a56/counter_11" BEL "t/a56/counter_10" BEL
        "t/a56/counter_9" BEL "t/a56/counter_8" BEL "t/a56/counter_7" BEL
        "t/a56/counter_6" BEL "t/a56/counter_5" BEL "t/a56/counter_4" BEL
        "t/a56/counter_3" BEL "t/a56/counter_2" BEL "t/a56/counter_1" BEL
        "t/a56/counter_0" BEL "t/a62/tmp1" BEL "t/a62/tmp0" BEL
        "t/a62/counter_11" BEL "t/a62/counter_10" BEL "t/a62/counter_9" BEL
        "t/a62/counter_8" BEL "t/a62/counter_7" BEL "t/a62/counter_6" BEL
        "t/a62/counter_5" BEL "t/a62/counter_4" BEL "t/a62/counter_3" BEL
        "t/a62/counter_2" BEL "t/a62/counter_1" BEL "t/a62/counter_0" BEL
        "t/a57/tmp1" BEL "t/a57/tmp0" BEL "t/a57/counter_11" BEL
        "t/a57/counter_10" BEL "t/a57/counter_9" BEL "t/a57/counter_8" BEL
        "t/a57/counter_7" BEL "t/a57/counter_6" BEL "t/a57/counter_5" BEL
        "t/a57/counter_4" BEL "t/a57/counter_3" BEL "t/a57/counter_2" BEL
        "t/a57/counter_1" BEL "t/a57/counter_0" BEL "t/a63/tmp1" BEL
        "t/a63/tmp0" BEL "t/a63/counter_11" BEL "t/a63/counter_10" BEL
        "t/a63/counter_9" BEL "t/a63/counter_8" BEL "t/a63/counter_7" BEL
        "t/a63/counter_6" BEL "t/a63/counter_5" BEL "t/a63/counter_4" BEL
        "t/a63/counter_3" BEL "t/a63/counter_2" BEL "t/a63/counter_1" BEL
        "t/a63/counter_0" BEL "t/a58/tmp1" BEL "t/a58/tmp0" BEL
        "t/a58/counter_11" BEL "t/a58/counter_10" BEL "t/a58/counter_9" BEL
        "t/a58/counter_8" BEL "t/a58/counter_7" BEL "t/a58/counter_6" BEL
        "t/a58/counter_5" BEL "t/a58/counter_4" BEL "t/a58/counter_3" BEL
        "t/a58/counter_2" BEL "t/a58/counter_1" BEL "t/a58/counter_0" BEL
        "t/a64/tmp1" BEL "t/a64/tmp0" BEL "t/a64/counter_11" BEL
        "t/a64/counter_10" BEL "t/a64/counter_9" BEL "t/a64/counter_8" BEL
        "t/a64/counter_7" BEL "t/a64/counter_6" BEL "t/a64/counter_5" BEL
        "t/a64/counter_4" BEL "t/a64/counter_3" BEL "t/a64/counter_2" BEL
        "t/a64/counter_1" BEL "t/a64/counter_0" BEL "t/a59/tmp1" BEL
        "t/a59/tmp0" BEL "t/a59/counter_11" BEL "t/a59/counter_10" BEL
        "t/a59/counter_9" BEL "t/a59/counter_8" BEL "t/a59/counter_7" BEL
        "t/a59/counter_6" BEL "t/a59/counter_5" BEL "t/a59/counter_4" BEL
        "t/a59/counter_3" BEL "t/a59/counter_2" BEL "t/a59/counter_1" BEL
        "t/a59/counter_0" BEL "t/a1/tmp1" BEL "t/a1/tmp0" BEL
        "t/a1/counter_11" BEL "t/a1/counter_10" BEL "t/a1/counter_9" BEL
        "t/a1/counter_8" BEL "t/a1/counter_7" BEL "t/a1/counter_6" BEL
        "t/a1/counter_5" BEL "t/a1/counter_4" BEL "t/a1/counter_3" BEL
        "t/a1/counter_2" BEL "t/a1/counter_1" BEL "t/a1/counter_0" BEL
        "t/a2/tmp1" BEL "t/a2/tmp0" BEL "t/a2/counter_11" BEL
        "t/a2/counter_10" BEL "t/a2/counter_9" BEL "t/a2/counter_8" BEL
        "t/a2/counter_7" BEL "t/a2/counter_6" BEL "t/a2/counter_5" BEL
        "t/a2/counter_4" BEL "t/a2/counter_3" BEL "t/a2/counter_2" BEL
        "t/a2/counter_1" BEL "t/a2/counter_0" BEL "t/a3/tmp1" BEL "t/a3/tmp0"
        BEL "t/a3/counter_11" BEL "t/a3/counter_10" BEL "t/a3/counter_9" BEL
        "t/a3/counter_8" BEL "t/a3/counter_7" BEL "t/a3/counter_6" BEL
        "t/a3/counter_5" BEL "t/a3/counter_4" BEL "t/a3/counter_3" BEL
        "t/a3/counter_2" BEL "t/a3/counter_1" BEL "t/a3/counter_0" BEL
        "t/a4/tmp1" BEL "t/a4/tmp0" BEL "t/a4/counter_11" BEL
        "t/a4/counter_10" BEL "t/a4/counter_9" BEL "t/a4/counter_8" BEL
        "t/a4/counter_7" BEL "t/a4/counter_6" BEL "t/a4/counter_5" BEL
        "t/a4/counter_4" BEL "t/a4/counter_3" BEL "t/a4/counter_2" BEL
        "t/a4/counter_1" BEL "t/a4/counter_0" BEL "t/a5/tmp1" BEL "t/a5/tmp0"
        BEL "t/a5/counter_11" BEL "t/a5/counter_10" BEL "t/a5/counter_9" BEL
        "t/a5/counter_8" BEL "t/a5/counter_7" BEL "t/a5/counter_6" BEL
        "t/a5/counter_5" BEL "t/a5/counter_4" BEL "t/a5/counter_3" BEL
        "t/a5/counter_2" BEL "t/a5/counter_1" BEL "t/a5/counter_0" BEL
        "t/a6/tmp1" BEL "t/a6/tmp0" BEL "t/a6/counter_11" BEL
        "t/a6/counter_10" BEL "t/a6/counter_9" BEL "t/a6/counter_8" BEL
        "t/a6/counter_7" BEL "t/a6/counter_6" BEL "t/a6/counter_5" BEL
        "t/a6/counter_4" BEL "t/a6/counter_3" BEL "t/a6/counter_2" BEL
        "t/a6/counter_1" BEL "t/a6/counter_0" BEL "clk_BUFGP/BUFG";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

